{{#paper-content classNames="md-padding"}}
  <h1>
    Nuevo {{#if model.payment }} Abono {{else}} Fiado {{/if}}
  </h1>
  <ul class="paper-list-inline">
    <li>
      {{paper-text value=model.amount label="Valor" type="number" pattern="\d*"}}
    </li>
    <li>
      {{paper-text value=model.description label="Descripción"}}
    </li>
  </ul>
  <ul class="paper-list-inline">
    <li>
      {{#paper-button raised=true classNames="md-primary" action="save"}}
      Guardar
      {{/paper-button}}
    </li>
    <li>
      {{#paper-button raised=true noink=true action="cancel"}}
      Cancelar
      {{/paper-button}}
    </li>
  </ul>
{{/paper-content}}
