{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Nuevo Cliente</span>
  </h2>
{{/paper-toolbar}}
{{partial 'clients/form'}}
