<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Informes</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        Cartera
      </div>
      <div class="panel-body">
        <h3>{{format-money balance}}</h3>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        Deudores.
      </div>
      <div class="panel-body">
        <h3>{{debtors}}</h3>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>
