<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Informes</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="">
      <div class="">
        Cartera {{format-money balance}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="">
      <div class="">
        Deudores.
      </div>
      <div class="panel-footer">
        {{debtors}}
      </div>
    </div>
  </div>
</div>
