<div class="row">
  <form {{action "signIn" on="submit"}} role="form">
    {{input type="email" placeholder="email" value=email}}
    {{input type="password" placeholder="Contraseña" value=password}}
    <button class="btn btn-lg btn-success btn-block">Ingrese</button>
  </form>
</div>
