<div class="row">
  <div class="row">
    <h3>Crear cuenta nueva</h3>
  </div>
  <form {{action "signUp" on="submit"}} role="form">
    {{input type="email" placeholder="email" value=email}}
    {{input type="password" placeholder="Contraseña" value=password}}
    <button class="btn btn-lg btn-success btn-block">Crear Cuenta</button>
  </form>
</div>
